@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Libre+Franklin&family=Montserrat:wght@100&family=Oswald:wght@300&family=Roboto:wght@300&display=swap");
.bienvenidos, .productos .productos-contenedor div, .blog-hero, .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto, .suscripcion {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!----IMPORTAR FUENTE-----*/
/*!----RESET-----*/
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  box-sizing: border-box; }

.nav-color {
  background-color: #e9c46a; }

.nav-link {
  color: #830415;
  transition-property: background-color;
  transition-duration: 2s; }
  .nav-link:hover {
    color: white;
    background-color: #830415; }

.buscador-boton {
  border: 1px solid #830415;
  color: black;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 2s; }
  .buscador-boton:hover {
    background-color: #830415;
    color: white; }

.form-control {
  border: black; }

.hero {
  text-align: center;
  width: 100%;
  height: 400px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .hero img {
    display: none; }

.bienvenidos {
  padding: 20px; }
  .bienvenidos img {
    height: 500px; }
  .bienvenidos div {
    width: 50%; }
    .bienvenidos div h1 {
      font-size: 60px; }
    .bienvenidos div p {
      font-size: 24px;
      padding: 10px;
      width: 70%; }

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: column;
  flex-wrap: wrap; }
  .nosotros .nuestra-historia {
    display: flex;
    flex-direction: column;
    background-color: #e9c46a;
    width: 80%;
    padding: 30px;
    align-items: center; }
  .nosotros .quienes-somos {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: column;
    flex-wrap: wrap;
    background-color: #e9c46a;
    width: 80%;
    padding: 30px; }
    .nosotros .quienes-somos .contenedor-imagenes {
      display: flex;
      justify-content: center;
      align-items: center;
      direction: row;
      flex-wrap: wrap; }
      .nosotros .quienes-somos .contenedor-imagenes img {
        height: 400px;
        width: 300px;
        object-fit: cover; }

main i {
  font-size: 50px;
  color: white;
  background-color: #00f665;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 50%; }

/*!----1 - HERO-----*/
.libros-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 580px;
  margin: 30px;
  background-color: #f4a261;
  text-align: center; }
  .libros-hero h1 {
    font-size: 60px;
    padding-top: 10px;
    color: #830415; }
  .libros-hero div {
    width: 680px;
    height: 400px; }
    .libros-hero div img {
      height: 100%;
      object-fit: contain; }

/*!----2 - PRODUCTOS-----*/
.productos h2 {
  text-align: center;
  padding: 10px;
  font-size: 28px;
  background-color: #830415;
  color: white; }

.productos .productos-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: row;
  flex-wrap: wrap; }
  .productos .productos-contenedor div {
    flex-direction: column;
    background-color: #ffdc85;
    width: 250px;
    height: 370px;
    margin: 20px;
    box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75); }
    .productos .productos-contenedor div img {
      height: 280px;
      width: 70%;
      padding: 10px;
      object-fit: contain;
      transition: 1s ease-in; }
      .productos .productos-contenedor div img:hover {
        box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75); }
    .productos .productos-contenedor div p {
      font-size: 18px; }
    .productos .productos-contenedor div a {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 10px;
      font-size: 18px;
      transition: 1s ease-in; }
      .productos .productos-contenedor div a:hover {
        background-color: #830415;
        transform: scale(1.1);
        border-radius: 10px; }

/*!---- BLOG HERO-----*/
.blog-hero {
  height: auto;
  margin: 30px 60px 30px 60px;
  background-color: #e6e5e5; }
  .blog-hero .blog-hero-text {
    text-align: center; }
    .blog-hero .blog-hero-text h1 {
      font-size: 40px; }
    .blog-hero .blog-hero-text h2 {
      font-size: 34px;
      padding-top: 10px; }
    .blog-hero .blog-hero-text p {
      font-size: 22px;
      font-style: italic;
      padding-top: 10px; }
    .blog-hero .blog-hero-text .fecha-y-autor {
      font-size: 24px;
      font-style: normal; }
  .blog-hero img {
    height: 70%;
    width: auto; }

/*!---- GRID GALERIA-----*/
.grid-galeria {
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 40px; }
  .grid-galeria .grid-item {
    display: flex;
    background-color: lightpink;
    color: white; }
    .grid-galeria .grid-item img {
      width: 40%;
      object-fit: cover; }
    .grid-galeria .grid-item .card-text {
      text-align: center; }
      .grid-galeria .grid-item .card-text h2 {
        font-size: 20px;
        color: white; }
      .grid-galeria .grid-item .card-text h3 {
        font-size: 24px;
        color: white; }
      .grid-galeria .grid-item .card-text p {
        font-style: italic;
        font-size: 16px; }
      .grid-galeria .grid-item .card-text .fecha-y-autor {
        font-style: normal;
        font-size: 18px; }
      .grid-galeria .grid-item .card-text a {
        text-decoration: none;
        color: white;
        padding-top: 10px; }

.agenda-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: row;
  flex-wrap: wrap; }
  .agenda-hero div {
    background-color: #e9e8e8;
    text-align: center;
    height: 360px;
    width: 50%; }
    .agenda-hero div h1 {
      height: 80px;
      background-color: #264653;
      color: white;
      margin-top: 20px;
      font-size: 40px; }
    .agenda-hero div .fecha-y-lugar {
      background-color: #264653;
      color: white;
      margin-top: 20px;
      font-size: 28px; }
    .agenda-hero div p {
      margin: 10px 30px 10px 30px;
      background-color: #e9e8e8;
      text-align: center;
      font-size: 18px; }
    .agenda-hero div img {
      height: auto;
      width: 100%; }

h2 {
  text-align: center;
  color: #264653;
  font-size: 40px;
  margin-top: 20px; }

.agenda-galeria-contenedor {
  margin: 30px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 40px;
  align-items: center; }
  .agenda-galeria-contenedor .agenda-galeria-contenedor-item {
    background-color: #2a9d8f;
    color: white; }
  .agenda-galeria-contenedor img {
    width: 100%; }
  .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto {
    flex-direction: column; }
    .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto h3 {
      font-size: 24px;
      text-align: center;
      color: white; }
    .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto .fecha-y-lugar-galeria {
      font-size: 20px;
      color: white;
      text-align: center; }
    .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto p {
      font-size: 16px;
      text-align: center;
      color: white; }
    .agenda-galeria-contenedor .agenda-galeria-contenedor-item-texto a {
      font-size: 18px;
      text-decoration: none;
      color: white;
      text-align: center; }

.suscripcion {
  flex-direction: column; }
  .suscripcion .formulario-contenedor {
    width: 80%;
    background-color: #ebe6e6;
    padding: 20px;
    margin: 30px; }
  .suscripcion h1 {
    margin: 20px; }

.btn-primary {
  background-color: #7a0414;
  border: solid #7a0414; }
  .btn-primary:hover {
    background-color: #e9c46a;
    border: #e9c46a; }

.redes-sociales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  direction: column;
  flex-wrap: wrap;
  background-color: #f4a261;
  height: 55px; }
  .redes-sociales a img {
    width: 50px;
    height: 50px; }

.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  direction: column;
  flex-wrap: wrap;
  background-color: #830415;
  color: white;
  padding: 30px;
  text-align: center; }

.contacto em {
  font-size: 40px; }

@media screen and (max-width: 1024px) {
  /*!----BLOG-----*/
  .blog-hero .blog-hero-text h1 {
    font-size: 30px; }
  .blog-hero .blog-hero-text h2 {
    font-size: 28px; }
  .blog-hero .blog-hero-text p {
    font-size: 20px;
    padding-top: 10px; }
  .blog-hero .blog-hero-text .fecha-y-autor {
    font-size: 22px; }
  .blog-hero img {
    height: 50%; }
  /*!----AGENDA-----*/
  .agenda-hero h1 {
    font-size: 34px; }
  .agenda-galeria-contenedor {
    margin: 30px 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; } }

@media screen and (max-width: 885px) {
  footer .contacto {
    flex-direction: column; }
  /*!----MAIN/INDEX-----*/
  .quienes-somos .contenedor-imagenes {
    flex-direction: column; }
  .bienvenidos div {
    width: 90%; }
  /*!----BLOG-----*/
  .blog-hero {
    margin: 0px;
    flex-direction: column; }
    .blog-hero .blog-hero-text h1 {
      font-size: 28px; }
    .blog-hero .blog-hero-text h2 {
      font-size: 26px; }
    .blog-hero .blog-hero-text p {
      font-size: 18px;
      padding-top: 10px; }
    .blog-hero .blog-hero-text .fecha-y-autor {
      font-size: 20px; }
    .blog-hero img {
      height: 40%;
      width: 100%; }
  .grid-galeria {
    margin: 10px 0px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  /*!----AGENDA-----*/
  .agenda-hero {
    flex-direction: column; }
    .agenda-hero div {
      height: 323px;
      width: 80%; } }

@media screen and (max-width: 660px) {
  /*!----INDEX/MAIN-----*/
  .bienvenidos {
    flex-direction: column;
    width: 100%; }
  /*!----BLOG-----*/
  .grid-galeria {
    grid-template-columns: 1fr; }
  /*!----AGENDA-----*/
  .agenda-hero {
    flex-direction: column; }
    .agenda-hero div h1 {
      font-size: 30px; }
    .agenda-hero div .fecha-y-lugar {
      font-size: 26px; }
  .agenda-galeria-contenedor {
    grid-template-columns: 1fr;
    grid-auto-rows: 600px;
    gap: 0px; }
    .agenda-galeria-contenedor img {
      width: 100%; } }

@media screen and (max-width: 500px) {
  /*!----INDEX/MAIN-----*/
  .hero {
    background-image: none; }
    .hero img {
      display: initial;
      height: 100%; }
  .bxl-whatsapp {
    display: none; }
  .mapa iframe {
    width: 100%;
    height: 100%; }
  .contacto em {
    font-size: 30px; }
  .bienvenidos div {
    width: 100%; }
  .bienvenidos-texto p {
    font-size: 24px;
    padding: 0px;
    width: 100%; }
  /*!----LIBROS-----*/
  .libros-hero {
    margin: 0px; }
    .libros-hero h1 {
      font-size: 50px; }
  /*!----AGENDA-----*/
  .agenda-hero div {
    width: 100%; }
  .agenda-hero div img {
    object-fit: cover; }
  .agenda-galeria-contenedor {
    margin: 0px; } }
