@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Libre+Franklin&family=Montserrat:wght@100&family=Oswald:wght@300&family=Roboto:wght@300&display=swap");

/*!----RESET-----*/
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  box-sizing: border-box;
}

/*!----HEADER-----*/
header {
  background-color: #e9c46a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  height: 100px;
}

header h1 {
  color: #4f000b;
  font-size: 45px;
}

header nav {
  width: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  text-decoration: none;
  color: #4f000b;
  font-size: 24px;
}

/*!----INDEX-----*/
/*!----MAIN-----*/
.hero {
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.bienvenidos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bienvenidos h2 {
  font-size: 60px;
}

.bienvenidos div {
  width: 50%;
}

.bienvenidos-texto p {
  font-size: 24px;
  padding: 10px;
  width: 70%;
}

.bienvenidos img {
  height: 500px;
}

.productos h2 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
}

.productos .productos-contenedor {
  display: flex;
  justify-content: space-evenly;
  height: 550px;
}

.productos .productos-contenedor .tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffdc85;
}

.productos .productos-contenedor .tarjeta img {
  width: 300px;
  height: 400px;
}

.productos .productos-contenedor .tarjeta a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

main i {
  font-size: 50px;
  color: white;
  background-color: #00f665;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 50%;
}

/*!----FOOTER-----*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .redes-sociales {
  display: flex;
  justify-content: space-evenly;
  background-color: #2a9d8f;
  height: 100px;
  align-items: center;
}

footer .redes-sociales a img {
  width: 50px;
  height: 50px;
}

footer .contacto {
  display: flex;
  justify-content: space-evenly;
  background-color: #294653;
  color: white;
  align-items: center;
  padding: 60px;
}

footer .localizacion h2 {
  margin-bottom: 20px;
}

footer .suscripcion h2 {
  margin-bottom: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}

::placeholder {
  color: white;
  font-size: 18px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*!----INDEX-----*/

/*!----BLOG-----*/
.blog-hero {
  height: 580px;
  margin: 30px 60px 30px 60px;
  border: solid blueviolet;
  display: flex;
  background-color: rgb(230, 229, 229);
  justify-content: center;
  align-items: center;
}

.blog-hero img {
  height: 70%;
}

.blog-hero h1 {
  font-size: 60px;
  font-style: italic;
}

.blog-hero p {
  font-size: 24px;
}

.grid-galeria {
  margin: 30px 60px 30px 60px;
  border: 8px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 40px;
}

.grid-item {
  display: flex;
  border: solid red;
  background-color: lightpink;
  color: white;
}

.grid-item img {
  width: 55%;
  object-fit: cover;
}

.card-text p {
  font-style: italic;
}

.card-text a {
  text-decoration: none;
  color: white;
  border: black solid;
}

@media screen and (max-width: 1024px) {
  .blog-hero {
    flex-direction: column;
  }

  .blog-hero h1 {
    font-size: 40px;
  }

  .blog-hero p {
    font-size: 20px;
  }

  .blog-hero img {
    height: 40%;
  }

  .grid-galeria {
    background-color: tomato;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .blog-hero {
    flex-direction: column;
  }

  .blog-hero img {
    height: 30%;
  }

  .blog-hero h1 {
    font-size: 30px;
  }

  .blog-hero p {
    font-size: 16px;
  }

  .grid-galeria {
    background-color: cyan;
    grid-template-columns: 1fr;
  }
}
