.agenda-hero {
  @include flex(flex, space-around, center, row, wrap);
  div {
    background-color: rgb(233, 232, 232);
    text-align: center;
    height: 360px;
    width: 50%;
    h1 {
      height: 80px;
      background-color: $color-agenda;
      color: $color-terciario;
      margin-top: 20px;
      font-size: nth($font-size, 10);
    }
    .fecha-y-lugar {
      background-color: $color-agenda;
      color: $color-terciario;
      margin-top: 20px;
      font-size: nth($font-size, 7);
    }
    p {
      margin: 10px 30px 10px 30px;
      background-color: rgb(233, 232, 232);
      text-align: center;
      font-size: nth($font-size, 2);
    }
    img {
      height: auto;
      width: 100%;
    }
  }
}

h2 {
  text-align: center;
  color: $color-agenda;
  font-size: nth($font-size, 10);
  margin-top: 20px;
}
.agenda-galeria-contenedor {
  margin: 30px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 40px;
  .agenda-galeria-contenedor-item {
    background-color: $color-agenda-light;
    color: $color-terciario;
  }

  img {
    width: 100%;
  }
  .agenda-galeria-contenedor-item-texto {
    // @include flex(flex, center, center, column, wrap);
    @extend %flex-center;
    flex-direction: column;
    h3 {
      font-size: nth($font-size, 5);
      text-align: center;
      color: $color-terciario;
    }
    .fecha-y-lugar-galeria {
      font-size: nth($font-size, 3);
      color: $color-terciario;
      text-align: center;
    }
    p {
      font-size: nth($font-size, 1);
      text-align: center;
      color: $color-terciario;
    }
    a {
      font-size: nth($font-size, 2);
      text-decoration: none;
      color: $color-terciario;
      text-align: center;
    }
  }
}
