/*!---- BLOG HERO-----*/
.blog-hero {
  height: auto;
  margin: 30px 20px 30px 2%;
  background-color: $ecru;
  @extend %flex-center;

  .blog-hero-text {
    text-align: center;
    h1 {
      font-size: nth($font-size, 10);
    }
    h2 {
      font-size: nth($font-size, 9);
      padding-top: 10px;
    }
    p {
      font-size: nth($font-size, 4);
      font-style: italic;
      padding: 10px 20px 10px 20px;
    }
    .fecha-y-autor {
      font-size: nth($font-size, 5);
      font-style: normal;
    }
  }
  img {
    height: 70%;
    width: auto;
  }
}

/*!---- GRID GALERIA-----*/
.grid-galeria {
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 40px;
  .grid-item {
    display: flex;
    background-color: $madder;
    color: $color-terciario;
    img {
      width: 40%;
      object-fit: cover;
    }
    .card-text {
      text-align: center;
      margin-top: 20px;
      h2 {
        font-size: nth($font-size, 3);
        color: $color-terciario;
      }
      h3 {
        font-size: nth($font-size, 5);
        color: $color-terciario;
      }
      p {
        font-style: italic;
        font-size: nth($font-size, 1);
      }
      .fecha-y-autor {
        font-style: normal;
        font-size: nth($font-size, 2);
      }
      a {
        text-decoration: none;
        color: $color-terciario;
        padding-top: 10px;
      }
    }
  }
}
