/*!----1 BLOG HERO-----*/
.blog-hero {
  height: 580px;
  margin: 30px 60px 30px 60px;
  background-color: rgb(230, 229, 229);
  @extend %flex-center;

  .blog-hero-text {
    text-align: center;
    h1 {
      font-size: nth($font-size, 12);
    }
    h2 {
      font-size: nth($font-size, 10);
      padding-top: 10px;
    }
    p {
      font-size: nth($font-size, 5);
      font-style: italic;
      padding-top: 10px;
    }
    .fecha-y-autor {
      font-size: nth($font-size, 7);
      font-style: normal;
    }
  }
  img {
    height: 70%;
  }
}
/*!----2 GRID GALERIA-----*/
.grid-galeria {
  margin: 30px 60px 30px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 40px;
  .grid-item {
    display: flex;
    background-color: $color-blog-pink;
    color: $color-terciario;
    img {
      width: 55%;
      object-fit: cover;
    }
    .card-text {
      text-align: center;
      h2 {
        font-size: nth($font-size, 3);
        color: $color-terciario;
      }
      h3 {
        font-size: nth($font-size, 6);
        color: $color-terciario;
      }
      p {
        font-style: italic;
        font-size: nth($font-size, 1);
      }
      .fecha-y-autor {
        font-style: normal;
        font-size: nth($font-size, 2);
      }
      a {
        text-decoration: none;
        color: $color-terciario;
        padding-top: 10px;
      }
    }
  }
}
