.suscripcion {
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
  .formulario-contenedor {
    width: 80%;
    background-color: rgb(235, 230, 230);
    padding: 20px;
    margin: 30px;
  }
  h1 {
    margin: 20px;
  }
}

.btn-primary {
  background-color: black-bean;
  border: solid $black-bean;
  &:hover {
    background-color: $color-principal;
    border: $color-principal;
  }
}
