.redes-sociales {
  @include flex(flex, space-evenly, center, column, wrap);
  background-color: #f4a261;
  height: 55px;

  a {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.contacto {
  @include flex(flex, space-evenly, center, column, wrap);
  background-color: $color-secundario;
  color: $color-terciario;
  padding: 30px;
  text-align: center;
}

.contacto em {
  font-size: nth($font-size, 10);
}
