.redes-sociales {
  @include flex(flex, space-evenly, center, column, wrap);
  background-color: $ecru;
  padding: 20px;

  a {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.contacto {
  @include flex(flex, space-evenly, center, column, wrap);
  background-color: $black-bean;
  color: $color-terciario;
  padding: 30px;
  text-align: center;
}

.contacto em {
  font-size: nth($font-size, 10);
}
