.redes-sociales {
  display: flex;
  justify-content: space-evenly;
  background-color: #f4a261;
  height: 55px;
  align-items: center;

  a {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  background-color: #4f000b;
  color: white;
  align-items: center;
  padding: 30px;
}
