.nav-color {
  background-color: $color-cuaternario;
}

.nav-link {
  color: $color-secundario;
  transition-property: background-color;
  transition-duration: 2s;
  &:hover {
    color: $color-terciario;
    background-color: $color-secundario;
  }
}

.buscador-boton {
  border: 1px solid $color-secundario;
  color: $color-principal;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 2s;
  &:hover {
    background-color: $color-secundario;
    color: $color-terciario;
  }
}

.form-control {
  border: $color-principal;
}
