.hero {
  text-align: center;
  width: 100%;
  height: 400px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @extend %flex-center;
  .titulo-de-seccion {
    @extend %flex-center;
    width: 60%;
    height: 40%;
    background-color: rgba(256, 256, 256, 0.75);
    h2 {
      font-size: nth($font-size, 12);
      font-weight: bolder;
      color: $black-bean;
      text-align: center;
      box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    }
  }
}

.bienvenidos {
  background-color: $gamuza;
  padding-bottom: 40px;
  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: nth($font-size, 12);
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
  }
  div {
    @extend %flex-center;
    img {
      margin: 30px;
      height: 500px;
      box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    }
    p {
      font-size: nth($font-size, 5);
      width: 40%;
      text-align: justify;
      margin: 30px;
    }
  }
}

.division {
  width: 100%;
  height: 200px;
  background-image: url("../img/contacto.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nosotros {
  .quienes-somos {
    @include flex(flex, center, center, column, wrap);
    background-color: $color-cuaternario;
    padding: 30px;
    h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: nth($font-size, 12);
      width: 100%;
      text-align: center;
      box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
    }
    .fundador {
      @extend %flex-center;
      div {
        width: 40%;
        h3 {
          font-size: nth($font-size, 8);
          text-align: center;
          text-decoration: underline;
          text-decoration-color: $black-bean;
        }

        p {
          font-size: nth($font-size, 5);
          text-align: justify;
          margin: 30px;
        }
      }

      img {
        margin: 30px;
        height: 500px;
        box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.bxl-whatsapp {
  font-size: nth($font-size, 11);
  color: $color-terciario;
  background-color: $madder;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 50%;
}
