//!VARIABLES

$color-principal: black;
$color-secundario: #830415;
$color-terciario: white;
$color-cuaternario: #e9c46a;
$color-quinario: #f4a261;
$color-agenda: #264653;
$color-agenda-light: #2a9d8f;
$color-blog-pink: lightpink;

//!LISTAS

$font-size: 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px, 34px, 40px, 50px,
  60px;

//!OPERACIONES

// $ancho: 720px;
// img {
//   width: $ancho / 2;
// }

//!MAPAS

$boton: (
  underline-text: none,
  color-text: white,
  size-text: nth($font-size, 2),
  bg-boton: black,
  pad-boton: 10px,
);

//!EXTENDS

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//!MIXINS

@mixin flex($flex, $justify, $align, $direction, $wrap) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  direction: $direction;
  flex-wrap: $wrap;
}
